# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
data-raw/Evolu__o do IFDM Educa__o - 2005 a 2016.xlsx
data-raw/Evolu__o do IFDM EmpregoRenda - 2005 a 2016.xlsx
data-raw/Evolu__o do IFDM Geral - 2005 a 2016.xlsx
data-raw/Evolu__o do IFDM Sa_de - 2005 a 2016.xlsx
data/firjan_hdi.csv
data/firjan_hdi.gpkg
data/shape_muni.gpkg
